<!DOCTYPE html>
<html>
<head>
<title>
Contact Me
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="Sherpa_Pemba.css"/>
</head>
<body>
		<nav class="navbar navbar-inverse">
				<div class="container-fluid">
				  <div class="navbar-header">
				  </div>
				</div>
				<ul class="nav navbar-nav">
					  <li id="name"> A03Sherpa-Pemba </li>
				  <li><a href="/Sherpa_Pemba">Home</a></li>
				  <li><a href="/Choice">Calculate Weekly Salary</a></li>
				  <li class="active"><a href="/contact">Contact</a></li>
				  <li><a href="guestbook">Guestbook</a></li>
				  <li><a href="new-entry">New-entry</a></li>
				  
				</ul>
			  </div>
				</div>
				</nav>
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-7 col-md-7 col-sm-7 col-lg-7">
							<form method="POST" role="form">
								<form method="POST" action="contact" role="form">
									<fieldset>
											<legend> Contact Info </legend>
															
																	First Name:
																	<input type="text" name="firstName"> <br><br>
																	Second Name: 
																	<input type="text" name="lastName" ><br><br>
																	E-mail Address:
																	<input type="text" name="email" id="email"><br><br>
																	Any comments or questions? <br>
																	<textarea name="message" id="message" rows="5" cols="75" placeholder="Please provide your comment and question here......."></textarea>
								
																	<br><br>										
																	<input type="submit">
					
					
												
									</fieldset>
									</form>
							</form>
							
						</div>
						<div class="col-xs-5 col-md-5 col-sm-5 col-lg-5">
							<br>
							<br>

							<h4>My Sites and Account: </h4>
								<a href="https://www.linkedin.com/in/pemba-sherpa-059b01128/"><img src="1.png" alt="linkdin" width=70 height=80></a> <br><br>
								<a href="https://github.com/s525998"><img src="2.png" alt="GitHub" width=70 height=80></a> <br> <br>
								<a href="https://bitbucket.org/s525998/"><img src="3.png" alt="BitBucket" width=70 height=80></a>
						</div>
							
					</div>
					
				</div>
			
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>		
</body>
</html>
	
