<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>A03 Sherpa Pemba</title>
<link type="text/css" rel="stylesheet" href="guestbook.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>

        <nav class="navbar navbar-inverse">
				<div class="container-fluid">
				  <div class="navbar-header">

				  </div>
				  <ul class="nav navbar-nav">
						<li id="name"> A03Sherpa-Pemba </li>
					<li><a href="/Sherpa_Pemba">Home</a></li>
					<li><a href="/Choice">Calculate Weekly Salary</a></li>
					<li><a href="/contact">Contact</a></li>
					  <li class="active"><a href="guestbook">Guestbook</a></li>
					  <li><a href="new-entry">New-entry</a></li>
					  </ul>
				</div>
        </nav>
        <body class="container">
        <h1>
                Express Guestbook
                <a href="/new-entry" class="btn btn-primary pull-right">
                Write in the guestbook
                </a>
                </h1>