<!--introduction-->
<!DOCTYPE html>\
<html>
<head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link type="text/css" rel="stylesheet" href="Sherpa_Pemba.css"/>
        <title>
Pemba
</title>
</head>
<body>
		<nav class="navbar navbar-inverse">
				<div class="container-fluid">
				  <div class="navbar-header">

				  </div>
				  <ul class="nav navbar-nav">
						<li id="name"> A03Sherpa-Pemba </li>
					<li class="active"><a href="/Sherpa_Pemba">Home</a></li>
					<li><a href="/Choice">Calculate Weekly Salary</a></li>
					<li><a href="/contact">Contact</a></li>
					  <li><a href="guestbook">Guestbook</a></li>
					  <li><a href="new-entry">New-entry</a></li>
					  </ul>
				</div>
		</nav>
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4"><img src="Pemba.jpg" alt="Pemba" class="img-circle" width="250" height="225">
		
			
			</div>
			<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4"> <h1 id="head"> About Myself </h1>
				<br/>
				<h3 id="background"> Background </h3>
				<p class="back">
					I am from Nepal. My hometown is kathmandu.<br>
					My major is Computer Science and Minor in Mathematics.<br>
					I have worked as Teaching Assistant in Descrete Mathematics last semester and also this semester.<br>
				</p>
				<h3 id="plans"> Plans </h3> 
				<p class="plans"> 
						 I planned on completing my education from Northwest Missouri
						State University with good GPA.<br> 
						 I wanted to focus on job-oriented knowledge.<br> 
			
				</p>
				<h3 id="interests"> Interests </h3>
					<p class="Interest">
					I love playing Basketball and enjoy watching NBA.<br>
					I love working on project in Java. <br>
				 
					</p>	</div>
			<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4"><iframe width="360" height="315" src="https://www.youtube.com/embed/D-xvlqDeXY4"></iframe>
				<div id="address">
						You can send mail on: <br>
						P.O.Box 515<br>
						990 N.College Drive </div>	</div>
			
			</div>
	</div>	
   
<footer> <h4>Pemba Sherpa</h4>  </footer>
</body>
</html> 

 


